*{
  margin: 0;
  padding: 0;
}

body {
  font-family:  Raleway, Arial, Times;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

section {
  line-height: 2;
}

footer {
  font-size: 17px;
  text-align: center;
  color: black;
  opacity: 0.7;
  padding: 5px;
}

header nav ul {
  list-style: none;
  display:inline-flex;
  padding-bottom: 30px;
}

header nav ul li{
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #7F2A06;
}

a:hover {
  cursor:pointer;
  color: black;
}

h2{
  font-family: penna;
  text-transform: uppercase;
  font-size: 50px;
}

.arrow-button img{
  width: 40px;
  height: auto;
  -webkit-transition: 1s;
  transition: 1s;
  bottom:2vh;
  position:relative;
}

.arrow-button img:hover{
  opacity: 0.4;
  bottom: 0vh;
}

#section-b .arrow-button img {
  transform: rotate(180deg);
  bottom:55vh;
}

#section-b .arrow-button img:hover {
  transform: rotate(180deg);
  bottom: 58vh;
}

#showcase {
  background-image: url('../img/showcase.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  padding: 10px;
  font-family: penna;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
}

#section-a {
  -webkit-transition: 1s;
  transition: 1s;
  height: 100vh;
  background: #16222A;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-a p {
  width: 60%;
  text-align: left;
  vertical-align: middle;
  padding: 20px;
}

#section-a h2 {
  text-align: center;
}

#section-b {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #EFEFBB,#D4D3DD);
}

#nome {
  padding-top: 40px;
}

@font-face {
    font-family: 'penna';
    src: url('../fonts/penna.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
